/***********************************
*** CORE ***************************
***********************************/
:root {
    --mainBlack: #242424;
    --mainBlue: #32B1CD;
    --mainPink: #D14398;
    --mainWhite: #FAFAFA;
    --mainGrey: #3D4849;
    --mainFont: 'Roboto';
    --secondFont: 'Ubuntu';
}

html {
    height: 100vh;
}

/* Navbar */
body {
    font-family: 'Arial';
    background: var(--mainWhite);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#recipes {
    width: 100%;
}

/***********************************
*** SIDEBAR STYLE ******************
***********************************/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebarCollapse i {
    font-size: 32px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--mainBlue);
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/***********************************
*** RECIPE CARD ********************
***********************************/

.scale-on-hover {
    transition: all .2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.1); 
}
/***********************************
*** ABOUT **************************
***********************************/
.block-heading_title {
    color: var(--mainBlack);
    font-family: var(--mainFont);
}
.block-heading_text {
    color: var(--mainGrey);
    font-family: var(--secondFont);
    line-height: 2rem;
    letter-spacing: 0.1em;
}
.icons {
    font-size: 3rem;
}


/***********************************
*** MEDIAQUERIES *******************
***********************************/

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
  
  
