{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" class="card-img-top" alt="profile_picture">
            <div class="card-body">
              <h5 class="card-title">{{current_user.first_name}} {{current_user.last_name}}</h5>
              <p class="card-text">{{current_user.short_story}}</p>
              <form method="POST" action=""enctype="multipart/form-data">
                  {{form.hidden_tag()}}
                  <div class="form-group">
                  {{form.username.label}}{{form.username}}
                  </div>
                  <div class="form-group">
                    {{ form.profile_image.label(class="form-group") }}
                    {{ form.profile_image(class="form-control-file") }}
                  </div>
                  <div class="form-group">
                  {{form.short_story.label}}{{form.short_story}}
                  </div>
                  <div class="form-group">
                  {{form.email.label}}{{form.email}}
                  </div>
                  <button type="submit" class="btn btn-primary">
                  {{form.submit()}}
                  </button>
              </form>
            </div>
          </div>
    </div>

{% endblock %}