{% extends 'base.html' %}
{% block content %}
    <div class="container">
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.title(class_="form-control",placeholder="Enter your recipe title")}}
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.ingriedient1(class_="form-control",placeholder="What is the first ingriedient?")}}
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.ingriedient2(class_="form-control",placeholder="What is the second ingriedient?")}}
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.ingriedient3(class_="form-control",placeholder="What is the special ingriedient?")}}
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.description(class_="form-control",placeholder="What is the special process in creating magic?")}}
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 mx-auto">
                <div class="form-group">
                    {{form.smoothie_video(class_="form-control",placeholder="Enter smoothie youtube video")}}
                    <small class="form-text text-muted">Enter embed link example: "https://www.youtube.com/embed/xcJtL7QggTI"  </small>
                </div>
            </div>
            <button type="submit" class="btn btn-link pt-5">
                {{form.submit()}}
            </button>
        </form>
    </div>
{% endblock %}