{% extends 'base.html' %}

{% block content %}
<section class="jumbotron justify-content-center text-center">
    <div class="container">
      <h1 class="front-heading pb-3">Welcome to our smoothies labaratory</h1>
      <h2 class="front-heading_small pb-5">Gather, create and share all your favourite smoothie recipes in one place</h2>
      <p class="pb-5">
        <a href="{{url_for('users.register')}}" class="btn join-btn">JOIN OUR COMMUNITY</a>
      </p>
    </div>
  </section>
<div class="intersection"></div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <h3 class="text-uppercase my-5 latest">latest recipes</h3>
      </div>
      <div class="row">
        {% for recipe in recipe_cards.items %}
      <!--Single recipe-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="{{recipe.smoothie_video}}"></iframe>
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description|truncate(50)}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{url_for('recipe_cards.recipe_card',recipe_card_id=recipe.id)}}">Read More</a></button>
                </div>
                <small class="text-muted">Made by: <a href="{{url_for('users.user_recipes',username=recipe.chef.username)}}">{{recipe.chef.first_name}}</a></small>
                <small class="text-muted">{{recipe.date.strftime('%d-%m-%Y')}}</small>
              </div>
            </div>
          </div>
        </div>
      <!-- End of single recipe-->
        {% endfor %}
      </div>
    </div>
  </div>
<section>
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-4 mx-auto">
        <img class="smoothie_photo img-fluid" src="{{url_for('static', filename='img/smoothie_photo.png')}}" alt="">
      </div>
      <div class="col-lg-6 col-md-4 mx-auto text-center">
        <h4 class="text-uppercase pt-3">some facts why smoothies <br> are good for you</h4>
        <h5 class="text-uppercase pt-5">prevents dehydration</h5>
        <p class="pt-2">Water is the most abundant thing both on earth and in your body.
          About 70 percent of your body is water. Having smoothies along
          with breakfast is a great way to replenish the loss of water
          in your body during the summer.</p>
        <h5 class="text-uppercase pt-5">enhances immunity</h5>
        <p class="pt-2">Immunity refers to the ability of your body to fight against pathogens
          and diseases. This natural potential becomes degenerated due to several
          reasons. Interestingly, having smoothies made of ingredients that include
          nutrients like beta-carotene helps boost your immune system.</p>
        <h5 class="text-uppercase pt-5">improves skin</h5>
        <p class="pt-2">As you may know, food containing carotenoids, like mango and pumpkin,
          are highly beneficial for skin and complexion. Therefore, smoothies that
          contain these ingredients help you keep glowing in the summer.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}