{% extends 'base.html' %}
{% block content %}
  <section class="jumbotron justify-content-center text-center">
    <div class="container">
      <h1>Welcome to our smoothies labaratory</h1>
      <p class="lead text-muted">Gather, create and share all your favourite smoothie recipes in one place</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
  <div class="card mx-auto" style="width: 28rem;">
    <iframe width="100%" height="225" src="{{recipe.smoothie_video}}"></iframe>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{recipe.ingriedient1}}</li>
      <li class="list-group-item">{{recipe.ingriedient2}}</li>
      <li class="list-group-item">{{recipe.ingriedient3}}</li>
    </ul>
    {% if recipe.chef == current_user %}
    <div class="card-body">
      <button type="button" class="btn btn-primary">
        <a href="{{ url_for('recipe_cards.edit_recipe', recipe_card_id=recipe.id) }}" class="card-link">Edit</a>
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
        Delete
      </button>
    </div>
    {% endif %}
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete this recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('recipe_cards.delete_recipe', recipe_card_id=recipe.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}